* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Verdana, sans-serif;
    background-image: url('/assets/interlagos-senna-kart-track.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.nav {
    color:#FFFFFA;
    position: sticky;
    position: -webkit-sticky;
    justify-content: flex-end !important;
    text-shadow: 
    #080705 0px 0px 2px,
    #080705 0px 0px 2px,
    #080705 0px 0px 2px,
    #080705 0px 0px 2px,
    #080705 0px 0px 2px,
    #080705 0px 0px 2px;
    -webkit-font-smoothing: antialiased;
}

a:hover {
    color: #912F40 !important;
}

.splash {
    height: 100vh;
    max-width: 100%;
}

.subject {
    margin-top: 32.5vh;
    left: 21vw;
    width: 50vw;

    animation: fadein 1.5s;
    -moz-animation: fadein 1.5s;
    -webkit-animation: fadein 1.5s;
    -o-animation: fadein 1.5s;
}

.title {
    color: #FFFFFA;
    font-size: 72px;
    
    text-shadow: 
    #080705 0px 0px 1px,
    #080705 0px 0px 1px,
    #080705 0px 0px 1px,
    #080705 0px 0px 1px,
    #080705 0px 0px 1px,
    #080705 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
}

.subtitle {
    color:#FFFFFA;

    margin-top: -24px;

    text-shadow: 
    #080705 0px 0px 1px,
    #080705 0px 0px 1px,
    #080705 0px 0px 1px,
    #080705 0px 0px 1px,
    #080705 0px 0px 1px,
    #080705 0px 0px 1px;
    -webkit-font-smoothing: antialiased;
}

.arrow-down {
    width: 48px;
}

.arrow-down:hover {
    cursor: pointer;
}

.about {
    background-color: #702632;
    color: #FFFFFA;
}

.resume-link:hover {
    color: #40434E !important;
}

.my-photo {
    height: 256px;
}

.contact {
    background-color: #FFFFFA;
    color: #40434E;
}

.email, .phone, .github, .linkedin {
    width: 20px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}